.component {
    background-color: #d9d9d9;
    border-radius: 5px;
    height: 182px;
    position: relative;
    width: 127px;
  }
  
  .component .group {
    background-color: #5dc674;
    background-image: url(https://generation-sessions.s3.amazonaws.com/00a1d99e487596f2ee1ddca7390232ca/img/logo-icon-trans-1-11@2x.png);
    background-position: 50% 50%;
    background-size: cover;
    border-radius: 5px;
    height: 107px;
    left: 11px;
    position: absolute;
    top: 17px;
    width: 107px;
  }
  
  .component .speaker-s-name {
    color: #1a1a1a80;
    font-family: "League Spartan", Helvetica;
    font-size: 10px;
    font-weight: 400;
    left: 11px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 146px;
    white-space: nowrap;
    width: 104px;
  }
  
  .component .element {
    color: #1a1a1a80;
    font-family: "League Spartan", Helvetica;
    font-size: 8px;
    font-weight: 400;
    left: 93px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: right;
    top: 171px;
    white-space: nowrap;
  }
  
  .component .podcast-name {
    color: #1a1a1a;
    font-family: "League Spartan", Helvetica;
    font-size: 13px;
    font-weight: 700;
    left: 11px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 132px;
    white-space: nowrap;
    width: 112px;
  }
  
  .component .vector {
    height: 8px;
    left: 116px;
    position: absolute;
    top: 171px;
    width: 8px;
  }
  